html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  color: black;
  line-height: 1.5;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
